<body>

	<h1>Multiple Choice </h1>
<form action="/med" method="post">
	<form>
		<p>1.Which of the following areas of medicine interests you the most?</p>
		<input type="radio" name="q1" value="a">a. Surgery<br>
		<input type="radio" name="q1" value="b">b. Psychiatryy<br>
		<input type="radio" name="q1" value="c">c. Pediatrics<br>
		<input type="radio" name="q1" value="d">d. dentistry<br>
        
		<p>2.Which of the following activities do you enjoy the most?</p>
		<input type="radio" name="q2" value="a">a. Learning about the human body<br>
		<input type="radio" name="q2" value="b">b. Analyzing data and research<br>
		<input type="radio" name="q2" value="c">c. Helping others through emotional support<br>
		<input type="radio" name="q2" value="d">d. Working with children<br>

		<p>3.Which of the following medical techniques or technologies do you find the most interesting?</p>
		<input type="radio" name="q3" value="a">a. Magnetic Resonance Imaging (MRI)<br>
		<input type="radio" name="q3" value="b">b. Reading and writing<br>
		<input type="radio" name="q3" value="c">c. orthotherapy<br>
		<input type="radio" name="q3" value="d">d. Gene editing<br>

		<p>4.Which of the following topics would you be most likely to read about?</p>
		<input type="radio" name="q4" value="a">a. Medical breakthroughs and research<br>
		<input type="radio" name="q4" value="b">b. Psychological disorders and their treatment<br>
		<input type="radio" name="q4" value="c">c. Public health issues and policies<br>
		<input type="radio" name="q4" value="d">d. Nutrition and diet<br>

		<p>5.Which of the following statements do you agree with the most?</p>
		<input type="radio" name="q5" value="a">a. I am fascinated by the human body and how to work on it.<br>
		<input type="radio" name="q5" value="b">b. I have a passion for suggesting medical remedies with no side affects.<br>
		<input type="radio" name="q5" value="c">c. I enjoy working with data and analyzing research.<br>
		<input type="radio" name="q5" value="d">d. I am interested in public health issues and the impact they have on society.<br>

        <button type="submit" style="margin: 50px;">submit</button>
	</form>
</form>
</body>










